<div class="footer">
  <div class="item1">
    <img src="/images/brand.png" alt="logo" class="" />
    <h3 class="name">AllVoice Blog</h3>
  </div>
  <ul class="footerNav">
    <li>
      <a class="item" href="/"> Home </a>
    </li>
    <li>
      <a class="item" href="/posts"> Posts </a>
    </li>
    <li>
      <a class="item" href="/about"> About </a>
    </li>
    <li>
      <a class="item" href="/contact"> Contact </a>
    </li>
    <li>
      <a class="item" href="/team"> Our Team </a>
    </li>
  </ul>

  <div class="item2">
    <h4>Follow AllVoice</h4>
    <div class="footericon-container">
      <div class="icon"><i class="fa-brands fa-facebook"></i></div>
      <div class="icon"><i class="fa-brands fa-twitter"></i></div>
      <div class="icon"><i class="fa-brands fa-youtube"></i></div>
      <div class="icon"><i class="fa-brands fa-instagram"></i></div>
    </div>
  </div>
  <hr />
  <p class="text-center">
    <em>&copy;2022, AllVoice News-Managed by Idokoken</em>
  </p>
</div>
