<div class="footer">
  <div class="item1">
    <img src="/images/brand.png" alt="logo" />
    <h3 class="name">All Voice Blog</h3>
  </div>
  <ul class="footerNav">
    <li>
      <a class="icon" href="/"> Home </a>
    </li>
    <li>
      <a class="icon" href="/about"> About </a>
    </li>
    <li>
      <a class="icon" href="/contact"> Contact </a>
    </li>
  </ul>

  <div class="item2">
    <h4>Follow All Voice</h4>
    <div class="footimg-container">
      <i class="fa-brands fa-facebook icon"></i>
      <i class="fa-brands fa-twitter icon"></i>
      <i class="fa-brands fa-youtube icon"></i>
      <i class="fa-brands fa-instagram icon"></i>
    </div>
  </div>
  <hr />
  <p>
    <em>Copyright at Idoko</em>
  </p>
</div>
