<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/css/fontawesome.min.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lobster&family=Noto+Serif:ital,
      wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <title>allvoice</title>
  </head>
  <body>
    <header>
      <div class="admin">
        <% if (user && user.isAdmin) { %>
        <div>
          <a href="/post/admin"><i class="fa-solid h-icon fa-user"></i>Admin</a>
        </div>
        <div>
          <a href="/auth/logout"><i class="h-icon"></i>Logout</a>
        </div>
        <% } else if (user) { %>
        <div>
          <a href="/auth/logout"><i class="h-icon"></i>Logout</a>
        </div>
        <% } else { %>
        <div>
          <a href="/auth/register"
            ><i class="fa-solid h-icon fa-book"></i>Sign Up</a
          >
        </div>
        <div>
          <a href="/auth/login"
            ><i class="fa-solid h-icon fa-user"></i>Sign In</a
          >
        </div>
        <% } %>
      </div>

      <nav class="navbar navbar-expand-sm sticky-top navbar-primary bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">
            <img
              src="/images/brand.png"
              alt=""
              width="30"
              height="24"
              class="d-inline-block align-text-top me-2"
            />
            AllVoice
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/post">All Posts</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contact">Contact Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about">About Us</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <main>
      <div class=""><%- body %></div>
    </main>
    <footer><%- include ('../partials/footer'); %></footer>

    <!-- javascript section -->
    <script src="/js/all.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/index.js"></script>
    <script src="/js/ckeditor/ckeditor.js"></script>
    <script>
      CKEDITOR.replace("description");
    </script>
  </body>
</html>
