<div class="home">
  <h2>Latest Posts</h2>
  <section class="post1">
    <div class="content">
      <a href="post1.html" class="read">
        <img src="/items/project1.jpg" alt="item1" class="item-img" />
        <h3>How to prepare Nigeria fried Rice</h3>
        <div class="name">
          <p>Author</p>
          <span>july 3, 2021</span>
        </div>
      </a>
    </div>
  </section>
  <h2>Featured Posts</h2>
  <section class="post2">
    <div class="content">
      <a href="post1.html" class="read">
        <img src="/items/project2.jpg" alt="item1" class="item-img" />
        <div class="title">
          <h4>How to prepare Nigeria fried Rice</h4>
          <div class="name">
            <p>Author</p>
            <span>- July 3, 2021</span>
          </div>
        </div>
      </a>
    </div>
  </section>
</div>
