.admin{
    display: flex;
    color: white;
    justify-content: flex-end;
    padding-right: 20px;
    background: linear-gradient(269.76deg, #49063E 13.12%, rgba(206, 177, 21, 0.7) 34.83%, #B79C12 59.28%,
     #49063E 89.19%);
}
.h-icon{
    padding-right: 5px;
}
.admin div{
    margin: 5px;
}
.admin div a{
    text-decoration: none;
    color: inherit;
    font-size: 10px;
    font-weight: 500;
    
}
.admin div a:hover{
color: rgb(177, 211, 84);
}
.bg-light{
    background-color: white !important;
    box-shadow: 5px 5px 5px 5px #eee6e6;
    
}
.nav-link, .navbar-brand{
  color: var(--primary-color);
  font-weight: 700;
  font-family: 'Noto Serif', serif;
}
.navbar-brand{
   background: linear-gradient(270deg, #49063E 3.28%, #DD11BC 47.7%, #49063E 91.21%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   background-clip: text;
   text-fill-color: transparent;
}
.nav-link:hover{
    color: rgb(177, 211, 84);
    }

/* for medium screen */
@media only screen and (min-width: 768px) {
    .admin div{
        margin: 10px;
    }
    .admin div a{
        font-size: 14px;
    }

}