body{
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	
}
main{
height: 100vh;
}
.contains{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.main {
	width: 50%;
	background: #4fc98c;
	color: white;
	align-self: center;
	padding: 20px;
	border-radius: 20px;
}

form{
	padding: 20px;
}
.register {
	width:80%;
 height: 500px;
}

h1{
	font-weight: 500;
	font-size: 30px;
	
}
h3{
	font-style: oblique;
}
a{
	text-decoration: none;
	color: #415A8A;
	font-size: 20px;
}

/* flash messages */
h4 ul{
	list-style-type: none;
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-self: center;
	}
h4 .info li{
	color: green;
  font-weight: 500;
}
h4 .error li{
	color: rgb(179, 54, 54);
  font-weight: 500;
}