
.singlepost .social {
  margin-bottom: 2px;
}

.singlepost .social img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin: 0 15px;
}
.singlepost .social h4 {
  color: rgb(150, 8, 8);
}
.singlepost .social a:hover{
  opacity: 0.5;
}
