@import 'header.css';
@import 'footer.css';
@import "social.css";
@import "info.css";

* {
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}


/* main section */
main {
  min-height: 70vh;
  margin: 0;
  padding: 0;
}

main .home {
 padding: 0;
 margin: 20px 0;
}

main .home h2{
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  margin: 20px 10px;
}
main .home .post1{
   display: flex;
   flex-direction: column;
   width: 100%;
   
}
main .home .post1 .content{
  height: 300px;
  width: 100%;
  position: relative;
}
main .home .post1 .content img{
   object-fit: cover;
   height: 100%;
   width: 100%;
}
main .home .post1 .content h3{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
main .home .post1 .content a .name{
  position: absolute;
  bottom: 50px;
  left: 50px;
  display: flex;
  color: white;
}
main .home .post1 .content a .name p{
  margin-right: 30px;
}
main .home .post2{
  display: flex;
  flex-direction: column;
}
main .home .post2 .content{
  box-shadow:  5px 10px 8px 10px #eee6e6;
  margin-bottom: 12px;
}
main .home .post2 .content a{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 20px;
  padding: 0;
  text-decoration: none;
  color: black;
}

main .home .post2 .content a img{
  flex: 33%;;
  width: 100px;
  height: 100px;  
}
main .home .post2 .content a .title{
  flex: 66%;
  padding: 10px;
} 
main .home .post2 .content a .title .name{
  display: flex;
}
main .home .post2 .content a .title .name P{
  color: blue;
  margin-right: 10px;
}

/* admin page */
.adminpage table tr td{
  font-size: 0.8rem;
}
.adminpage img{
  height: 40px;
  width: 40px;
}
/* all posts page */
main .allposts .post2 .content{
  box-shadow:  5px 10px 8px 10px #eee6e6;
  margin-bottom: 12px;
}
main .allposts .post2 .content a{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 20px;
  padding: 0;
  text-decoration: none;
  color: black;
}

main .allposts .post2 .content a img{
  flex: 33%;;
  width: 100px;
  height: 100px;  
}
main .allposts .post2 .content a .title{
  flex: 66%;
  padding: 10px;
} 
main .allposts .post2 .content a .title .name{
  display: flex;
}
main .allposts .post2 .content a .title .name P{
  color: blue;
  margin-right: 10px;
}

/* single post page */
main .singlepost{
  padding: 10px;
}
main .singlepost .postImg{
  height: 400px;
  width: 80%;
  display: block;
  margin: auto;
  object-fit: cover;
}
main .singlepost h2{
  font-weight: 600;
  color:rgb(73, 6, 62);
}

/* flash messages */
h4 ul{
	list-style-type: none;
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-self: center;
	}
h4 .info li{
	color: green;
  font-weight: 500;
}
h4 .error li{
	color: rgb(179, 54, 54);
  font-weight: 500;
}
/* contact page */
.contact{
  background-color: rgba(167, 156, 142, 0.6);
  margin: 0;
  padding: 0;
}
.contact .phone{
  display: flex;
  align-items: center;
}
.contact .phone img{
  border-radius: 50%;
  margin: 0 5px;
}
.contact label{
  color:rgb(73, 6, 62);
  font-family: 'Times New Roman', Times, serif;
  font-weight: 600;
}
.contact h2, .contact h3{
  color:rgb(73, 6, 62);
  font-family: 'Times New Roman', Times, serif;
  font-weight: 600;
}
.contact button{
  background-color:rgb(73, 6, 62);
  font-family: 'Times New Roman', Times, serif;
  font-weight: 600;
  color: white;
}
.contact a{
  text-decoration: none;
  color: rgb(57, 136, 209);
  font-size: 18px;
  margin-left: 10px;
}
.contact a:hover{
  color: rgb(177, 211, 84);
  font-weight: 600;
}

/* about page */
.about h3{
  margin-top: 30px;
  margin-bottom: 5px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 600;
  color: rgb(73, 6, 62);
}
.about p{
  font-family: 'Times New Roman', Times, serif sans-serif;
  line-height: 1.6;
  
}

/* for medium screen */
@media only screen and (min-width: 768px) {
  /* main section */
  main .home .post1{
    flex-direction: row;
    flex-wrap: wrap;
 }
 main .home .post1 .content{
  /* flex: 50%; */
  width: 50%;
  height: 400px;
 }
 main .home .post2{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
}
main .home .post2 .content{
  width: 50%;
}

/* all posts page */
main .allposts .post2{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; 
}
main .allposts .post2 .content{
  flex: 50%;
  width: 50%;
  
}
}
  
  /* for large screen */
@media only screen and (min-width: 1024px) {
  /* home page */
  main .home .post2 .content{
    width: 33%;
    
  }
    /* all posts page */
main .allposts .post2{
  display: flex;
  flex-direction: row; 
}
main .allposts .post2 .content{
  width: 33%;
  flex: 33%;
}
/* admin page */
.adminpage table tr td{
  font-size: 1rem;
}
    } 
