@import 'header.css';
@import 'footer.css';
@import "social.css";
@import "info.css";

:root{
  --primary-color:  rgb(73, 6, 62);
  --secondary-color: white;
}

* {
  box-sizing: border-box;
}
body {
  font-family: 'Times New Roman', Times, serif;
  margin: 0;
  padding: 0;
}
main {
  min-height: 70vh;
  margin: 0;
  padding: 0;
}

/* flash messages */
h4 ul{
	list-style-type: none;
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-self: center;
	}
h4 .info li{
	color: green;
  font-weight: 500;
}
h4 .error li{
	color: rgb(179, 54, 54);
  font-weight: 500;
}

/* posts content css */
.posts{
  display: flex;
  flex-direction: column;
}
.posts .content{
  box-shadow:  5px 10px 8px 10px #eee6e6;
  margin-bottom: 12px;
}
.posts .content a{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 20px;
  padding: 0;
  text-decoration: none;
  color: black;
  /* position: relative; */
}
.posts .content a .img-container{
  flex: 33%;
  width: 100px;
  height: 100px;  
}
.posts .content a .img-container img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;  
}
.posts .content a .title{
  flex: 66%;
  padding: 10px;
} 
.posts .content a .title .name{
  display: flex;
  /* position: absolute;
  bottom: 0; */
}
.posts .content a .title .name P{
  color: blue;
  margin-right: 10px;
}



/* home page */
main .home {
 padding: 20px 0;
 margin: 0;
}
main .home h2{
  font-weight: 500;
  margin: 20px 10px;
  font-family: 'Lobster', cursive;
  color: var(--primary-color);
}
main .home .featured{
   display: flex;
   flex-direction: column;
   /* width: 100%;  */
}
main .home .featured .content{
  height: 40vh;
  width: 100%;
  position: relative;
}
main .home .featured .content .img-container{
  height: 100%;
  width: 100%;
}
main .home .featured .content img{
   height: 100%;
   width: 100%;
   object-fit: cover;
}
main .home .featured .content h3{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--secondary-color);
  font-family: 'Abril Fatface', cursive;
}
main .home .featured .content a .name{
  position: absolute;
  bottom: 30px;
  left: 30px;
  display: flex;
  color: var(--secondary-color);
}
main .home .featured .content a .name p{
  margin: 0;
  margin-right: 20px;
}


/* admin page */
.adminpage table tr td{
  font-size: 0.8rem;
}
.adminpage img{
  height: 40px;
  width: 40px;
}
/* all posts page */
.allposts h2{
  font-family: 'Abril Fatface', cursive;
  color: var(--primary-color);
  font-weight: 500;
}

/* single post page */
main .singlepost{
  padding: 10px 0;
  font-family: 'Times New Roman', Times, serif;
}
main .singlepost .img-container{
  width: 100%;
  height: 40vh;
}
main .singlepost .img-container img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
main .singlepost h2{
  font-weight: 700;
  color: var(--primary-color);;
}
main .singlepost p{
  line-height: 1.6;
  text-indent: 50px;
  font-family: 'Times New Roman', Times, serif;
  /* letter-spacing: 5px; */
  word-spacing: 5px;
  font-size: 20px;

}

/* contact page */
.contact{
  margin: 0;
  padding: 0;
  position: relative;
}
.contact::before{
  content: '';
  background-image: url('/images/contact.jpg');
  background-size: 100% 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.5;
}
.contact .address, .contact .form{
  position: relative;
}

.contact label{
  color: var(--primary-color);;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 600;
}
.contact h2, .contact h3{
  color: var(--primary-color);;
  font-weight: 600;
}
.contact button{
  background-color: var(--primary-color);;
  font-weight: 600;
  color: var(--secondary-color);
}
.contact a{
  text-decoration: none;
  color: inherit;
}
.contact a:hover{
  color: rgb(177, 211, 84);
  font-weight: 600;
}

/* about page */
.about h3{
  margin-top: 30px;
  margin-bottom: 5px;
  font-family: 'Abril Fatface', cursive;
  font-weight: 500;
  color:  var(--primary-color);;
}
.about p{
  line-height: 1.6;
  font-size: 20px;
}

/* for medium screen */
@media only screen and (min-width: 768px) {
  /* posts content css */
  .posts{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
  }
  .posts .content{
    width: 50%;
  }

  /* home page */
  main .home .featured{
    flex-direction: row;
    flex-wrap: wrap;
 }
 main .home .featured .content{
  width: 50%;
  height: 60vh;
 }
}
  
  /* for large screen */
@media only screen and (min-width: 1024px) {
  /* post content css */
  .posts .content{
    width: 33%;
    
  }
   
/* admin page */
.adminpage table tr td{
  font-size: 1rem;
}

/* singlepost page */
main .singlepost .img-container{
  width: 100%;
  height: 50vh;
}

} 
