<div class="about container py-3">
  <h3 class="">WHAT AllVOICE STANDS FOR</h3>
  <p>
    AllVoice blog, registered on May 2, 2021 (RC No: 509632), commenced online
    publication on May, 2021. With registered office at second floor Standard
    Plaza, Wuse 2, Federal Municipal Council, Abuja.
  </p>
  <p>
    The AllVoice is an independent online news blog,for the purpose of
    presenting balanced coverage of events, and of promoting the best interests
    of Nigeria. It owes allegiance to no political party, ethnic community,
    religious or other interest group. Its primary commitment is to the
    integrity and sovereignty of the Federation of Nigeria, and beyond that to
    the unity and sovereignty of Africa. AllVoice blog is a liberal online blog,
    committed to the best traditions and ideals of democracy. It believes that
    it is the responsibility of the state not only to protect and defend the
    citizen, but also to create the conditions, political, social, economic and
    cultural, in which all citizens may achieve their highest potential as human
    beings. It is committed to the principle of individual freedom, but believes
    that all citizens have duties as well as rights. . AllVoice will at all
    times uphold the need for justice, probity in public life, equal access to
    the nation’s resources, and equal protection under the laws of Nigeria for
    all citizens. AllVoice believes that Nigeria is a legitimate member of the
    international community, but holds that she can best fulfil her
    international obligations only if her own security and integrity are
    assured.
  </p>
  <h3>Vision</h3>
  To be among Nigeria’s first truly Independent national quality and news
  website.
  <h3>Mission</h3>
  To produce quality, vibrant and viable news that wills inform and form the
  nation’s present and aspiring political, business, economic and cultural
  leadership; challenge and inspire the nation’s journalists to advance and
  defend the public good; and deliver superior value to all stakeholders.
  <h3>Editorial Policy</h3>
  Our Editorial Policy, as set out by the Board of Directors, was founded on the
  following principle: We shall be independent on all matters, but shall never
  be neutral on any matter, especially those concerning the well-being of the
  Nigerian people.

  <h3>Editorial Team</h3>
  <p>
    Nduka Idoko, Comrade Kerian Onah, Hon. Meletus Ona, Henry Udom, Musa-Ibrahim
    juwoo, Jonathan Ishaku.
  </p>

  <div class="categories">
    <h3>Our News Categories includes</h2>
    <p>Featured</p>
    <p>Politics</p>
    <p>World</p>
    <p>Sport</p>
    <p>Technology</p>
    <p>Art</p>
    <p>Business</p>
  </div>
</div>
