<div class="contact py-4">
  <section class="px-4 address">
    <h2>You can call our Office line</h2>
    <p>Available 8.00 am to 5.00pm Mon - Sat</p>
    <div class="">
      <h3>Phone</h3>
      <a href="tel:#"><p>tel +2349035478541</p> </a>
      <a href="tel:#"><p>tel +2349068743221</p> </a>
      <a href="tel:#"><p>tel +2349041417778</p> </a>
    </div>
    <div class="">
      <h3>Email</h3>
      <p>allvoiceng.yahoo.com</p>
      <p>allvoiceblog.ng.yahoo.com</p>
    </div>
    <div class="">
      <h3>Office Address</h3>
      <p>No 09 Fimka Steet, Central Business District,</p>
      <p>Abuja, Nigeria.</p>
    </div>
  </section>

  <div class="container mt-4 col-md-8 form">
    <h3 class="text-center my-3">Send AllVoice your Enquires</h3>
    <form method="post" action="/contact">
      <div class="mb-3">
        <label class="form-label">Name</label>
        <input type="text" class="form-control" name="name" />
      </div>
      <div class="mb-3">
        <label class="form-label">Email Address</label>
        <input type="email" class="form-control" name="email" />
      </div>
      <div class="mb-3">
        <label class="form-label">Description</label>
        <textarea
          class="form-control"
          name="subject"
          cols="20"
          rows="5"
        ></textarea>
      </div>
      <button type="submit" class="btn">Submit</button>
    </form>
  </div>
</div>
